.root {
    font-family: 'Times New Roman';
    -fx-background-color: #26A69A;
    -fx-font-size: 12pt;
}

.accordion .titled-pane > *.content{
    -fx-background-color: transparent ;
}

.titled-pane {
    -fx-background-color: #26A69A;
    font-family: 'Times New Roman', sans-serif;
}

.vbox {
    -fx-background-color: #26A69A;
    font-family: 'Times New Roman', sans-serif;
}

.hbox {
    -fx-background-color: #2f4f4f;
    -fx-padding: 15;
    -fx-spacing: 10;
}